        <div class="card mb-3">
              
              <div class="card-header">Create Proposal</div>
              <div class="card-body"></div>
                <form id="create-proposal-form">
                    <div class="form-group">
                    <input type="text" class="form-control" id="proposal-text" placeholder="Enter Proposal">
                    </div>
                    <button type="submit" class="btn btn-primary" id="create-proposal-button">Submit</button>
                  </form>
    
            </div>
          </div>
        </div>

<script src="/js/proposal.js"></script>


